<h1>Login</h1>
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="field">
          <%= f.label :email %></br>
          <%= f.text_field :email %>
      </div>
      <div class="field">
          <%= f.label :password %></br>
          <%= f.password_field :password %>
      </div>
      <div class="actions">
          <%= f.submit "Login" %>
      </div>
      <% end %>
    <p>If you don`t have account <%= link_to "Register now!", register_path %></p>
