<%= form_for(@micropost) do |f| %>
   <div class="post-create">
     <div class="post-field">
       <%= f.text_area :content, placeholder: "Write post...", class: "text-area" %>
     </div>
     <div class="post-actions">
       <%= f.submit "Create post", class: "post-button" %>
     </div>
   </div>
   <div class="success">
     <%= render 'shared/success_messages' %>
   </div>
   <div class="eror">
     <%= render 'shared/error_messages', :object => f.object %>
   </div>
<% end %>
