<a class="user-block-link" href="<%= user_path(current_user) %>">
</a>
<div class="user-content">
  <a class="avatar-link" title="<%= current_user.name %>" href="<%= user_path(current_user) %>">
    <%= gravatar_for(current_user, size: 110) %>
  </a>
  <div class="user-fields">
    <div class="user-name">
      <%= link_to current_user.name, current_user,class: "user-name-link" %>
    </div>
    <span class="user-edit-link">
      <%= link_to "Edit Profile", edit_user_path(current_user), class: "user-edit" %>
    </span>
  </div>
  <%= render 'shared/stats' %>
</div>
   
