<% if loged_in? %>
  <table class="front" summary="For loged-in users">
    <tr>
      <td id="home-main" class="front-main">
        <h1 class="micropost">What's on your mind?</h1>
        <%= render 'shared/micropost_form' %>
      </td>
      <td id="home-sidebar">
        <div class="home-sidebar round">
          <%= render 'shared/user_info' %>
          <%= render 'shared/stats' %>
        </div>
      </td>
    </tr>
    <%= render 'shared/feed' %>
  </table>
<% else %>
  <h1>Welcome to Bejben</h1>
  <p>Connect with your friends, and other people.</p>

   <%= link_to "Register now!", register_path, :class => "register_button round" %>
<% end %>
