<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/0/0/00tolq47s9.ico" type="image/x-icon" />
  </head>
  <body>
      <div class="header-cont">
        <%= render 'layouts/header' %>
      </div>
      <div class="container">
      <section class="round">
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
